1) Escolha da base de dados:

In [43]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [44]:
import pandas as pd

arquivo = "relatorio_inscricao_dados_abertos_fies_22021.csv"
df = pd.read_csv(arquivo, sep=';', encoding='latin1', nrows=1000)

df.head()

,Ano do processo seletivo,Semestre do processo seletivo,ID do estudante,Sexo,Data de Nascimento,UF de residência,Municipio de residência,Etnia/Cor,Pessoa com deficiência?,Tipo de escola no ensino médio,...,Ano do Enem,Redação,Matemática e suas Tecnologias,"Linguagens, Códigos e suas Tec",Ciências Natureza e suas Tec,Ciências Humanas e suas Tec,Situação Inscrição Fies,Percentual de financiamento,Semestre do financiamento,Qtde semestre financiado
0,2021,2,281805657,M,15/05/00,PR,COLOMBO,PARDA,NÃO,SIM,...,2020,640,"675,4","643,2","539,7","622,2",NÃO CONTRATADO,NaN,,NaN
1,2021,2,281805657,M,15/05/00,PR,COLOMBO,PARDA,NÃO,SIM,...,2020,640,"675,4","643,2","539,7","622,2",NÃO CONTRATADO,NaN,,NaN
2,2021,2,351067941,M,10/07/94,PR,CURITIBA,BRANCA,NÃO,NÃO,...,2011,900,"758,1","646,9","598,4","605,7",PARTICIPACAO CANCELADA PELO CANDIDATO,NaN,,NaN
3,2021,2,205906170,M,25/09/89,PR,CURITIBA,BRANCA,NÃO,SIM,...,2020,540,"609,8","610,7",586,"646,2",OPÇÃO NÃO CONTRATADA,NaN,NaN,10.0
4,2021,2,351067085,F,20/07/99,PR,PARANAGUÁ,BRANCA,NÃO,SIM,...,2017,680,"408,6","499,8","484,5","487,9",NÃO CONTRATADO,NaN,,NaN

2) Criação de função própria:

In [45]:
def calcular_media(df, Redação):
    media = df[Redação].mean()
    print("A média de Redações é:", media)

calcular_media(df, 'Redação')

A média de Redações é: 785.18

3) Estrutura de repetição e condição:

In [46]:
valor_min = 500.00
contador = 0

for index, row in df.iterrows():
    if row['Redação'] > valor_min:
        contador += 1

print(f"A quantidade de notas de Redação acima de" ,valor_min, "foram:", contador)

A quantidade de notas de Redação acima de 500.0 foram: 961

4) Funções especiais:

In [55]:
from functools import reduce

df['Matemática e suas Tecnologias'] = pd.to_numeric(df['Matemática e suas Tecnologias'], errors='coerce')
df = df.dropna(subset=['Matemática e suas Tecnologias'])


media_notas = reduce(lambda x, y: x + y, df['Matemática e suas Tecnologias']) / len(df['Matemática e suas Tecnologias'])
print("A média das notas de Matemática e suas Tecnologias em 2021 foram:", round(media_notas, 2))

A média das notas de Matemática e suas Tecnologias em 2021 foram: 655.48

5) Resumo estatístico:

In [66]:
#MEDIANA

def calcular_media(df, Redação):
    media = df[Redação].median()
    print("A mediana de Redações é:", round(media,2))

calcular_media(df, 'Redação')

A mediana de Redações é: 840.0

In [67]:
#MEDIA

def calcular_media(df, Redação):
    media = df[Redação].mean()
    print("A média de Redações é:", round(media,2))

calcular_media(df, 'Redação')

A média de Redações é: 796.81

6) Publicação usando Quarto:

title: "baseprouni.20.06"
author: "PolyanaPlaza"
date: "20 de junho de 2023"
lang: pt
format: 
  html:
    code-tools: true
    code-fold: true
    default-image-extension: png
    page-layout: full
jupyter: python3
---
quarto render baseprouni.20.06.ipynb --to html (pdf, docx, epub, pptx)